@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow">
        <div class="container-fluid row shadow p-3 mb-5 bg-body rounded col-sm-12 col-md-12 col-lg-12">
            <ul style="display: flex">
                <li><a id="semSub" class="navbar-brand cor-fonte" asp-area="" asp-controller="Estudante" asp-action="Estudante"><strong>Estudantes</strong></a></li>
                <li><a id="semSub" class="nav-link" asp-area="" asp-controller="Login" asp-action="Login"><strong>Home</strong></a></li>
            </ul>
            <div>
                <div class="cor-fonte">
                    Usuario: @HttpContextAccessor.HttpContext.Session.GetString("emailSessao")
                </div>
                <button class="link col-sm-6 col-md-6 col-lg-3"> @Html.ActionLink("Sair", "Finalizar", "Sair")</button>
            </div>
        </div>
    </nav>
</header>

<div class="row">
    <div>
        <h3 class="cor-fonte" style="margin-left: 30px">Estudante</h3> <br />
    </div>
    <div>
        <a class="btn btn-success" style="margin-left: 10px" asp-area="" asp-controller="Estudante" asp-action="EstudanteEditar">Novo</a>
    </div>
</div>
<br />
<div class="row cor-fonte col-sm-12 col-md-6 col-lg-6">

    <!-- Identificador -->
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
            <label for="identificador">Identificador</label>
            <input id="identificador" required="required" type="text" value="" class="form-control" name="identificador">
        </div>
    </div>

    <!-- Nome -->
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input id="nome" required="required" type="text" value="" class="form-control cor-fonte" name="nome">
        </div>
    </div>

    <!-- Curso -->
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
            <label for="curso">Curso</label>
            <input id="curso" required="required" type="text" value="" class="form-control cor-fonte" name="curso">
        </div>
    </div>

    <!-- Status -->
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
            <label for="status">Status</label>
            <select id="status" class="form-control">
                <option selected value="2">Todos</option>
                <option value="1">Ativo</option>
                <option value="0">Inativo</option>
            </select>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
            <label for="buscar"></label>
            <button style="margin-right: 2px" id="buscar" type="button" class="btn btn-primary btn-lg" onclick="estudante.funcoes.consultar()">Buscar</button>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="container col-sm-6 col-md-12 col-lg-12">
        <table id="tabelaEstudante" class="stripe cell-border" style="color: Silver; background-color: #36648B; width: 100%">
            <thead style="background-color: #104E8B">
                <tr>
                    <th style="width: 2%"><strong>Identificador</strong></th>
                    <th style="width: 30%"><strong>Nome</strong></th>
                    <th style="width: 20%"><strong>Curso</strong></th>
                    <th style="width: 15%"><strong>Status</strong></th>
                    <th style="width: 5%"><strong>Action</strong></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/r-2.3.0/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/r-2.3.0/datatables.min.js"></script>
<script src="~/Content/Estudante/Scripts/Estudante.js"></script>