@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Seja Bem Vindo</h1>
</div>

<a id="semSub" class="centro btn btn-secondary" asp-area="" asp-controller="Login" asp-action="Login"><strong>Login</strong></a>
